/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body, header, nav, ul, li {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    height: 60px;
}

nav {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center; 
}

.logo {
    width: 7%;
}

header nav {
    display: flex;
    justify-content: space-between;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 18%;
    height: 60px;
    padding: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li:hover {
    border-top: 2px solid #0065FC;
}

nav ul li a:hover {
    color: #0065FC;
}

h1 {
    font-size: 22px;
    margin-top: 20px;
    padding: 0;
}


form {
    display: flex;
    flex-direction: row;
    width: 377px;
    height: 49px;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot {
    width: 14px;
    height: 18px;
    color: #000;
}

form input {
    height: 45px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}

.barrerecherche {
    width: 132px;
    height: 49px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.loupe {
    display: none;
}

.Filtres-barre {
    display: flex;
    flex-direction: row;
    width: 758px;
    height: auto;
    gap: 15px;
    margin-top: 10px;
}


.bouton-commun { 
    width: auto;
    height: auto;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 8px 17px 8px 17px; 
    gap: 5px;
    font-size: 17px;
    margin: 10px 7px;
    font-weight: bold;
    background-color: white;
}

.bouton-commun:hover {
    background-color: #d9d9d9;
}

div button i {
    margin-right: 10px;
}

.info-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-info {
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;
}

.fa-info::before {
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

a {
    color: inherit;
    text-decoration: none;
}


.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.groupe {
    display: flex;
    flex-direction: column;
}




/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements .hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: auto;
    height: 200px;
    gap: 20px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 200px;
    gap: 4px;
}

.hebergements-cards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    height: 80px;
}

.hebergements-cards .card-txt {
    display: flex;
    flex-direction: column; 

}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*******Activités******/

.activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    gap: 30px;
}

.activites h2 {
    margin-top: 50px;
}

.activites-carte {
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 100%;
    gap: 30px;
}

.activites-carte a {
    width: 100%;
}

.carte {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.carte img{
    object-fit: cover;
    width: 100%;
    height: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-titre {
    border-radius: 0px 0px 20px 20px;
    padding: 10px 19px 20px 19px;
    gap: 10px;
}

/*****Footer******/

.fin {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 163px;
    background-color: #F2F2F2;
}

.A-propos {
    width: 446.67px;
    height: 163px;
    padding: 0px 0px 20px 20px;

}

.Nos-hebergements {
    width: 446.67px;
    height: 163px;
    padding: 0px 0px 20px 20px;
}

.Assistance {
    width: 446.67px;
    height: 163px;
    padding: 0px 0px 20px 20px;
}

footer ul {
    padding: 0px;
    justify-content: space-between
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
    
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    header nav ul {
        width: 25%;
    }

    main {
        width: 100%;
        height: 80%;
    }

    .Filtres-barre {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .Filtres-barre h3 {
        margin: 0;
    }

    .bouton-commun {
        margin: 0px 5px 5px 0px;
    }

    .info-bar {
        margin-top: 10px;
    }
    
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        height: 60%;
    }

    .hebergements {
        width: 100%;
        height: 80%;
        margin-top: 20px;
    }

    .populaires {
        width: 100%;
        height: 40%;
        margin-top: 30px;
    }

    .activites {
        width: 100%;
        height: 20%;
    }

    .hebergements .hebergements-cards {
        height: 10%;
        margin-right: 10px;
    }

    .hebergements-cards a {
        width: 30%;
    }

    .hebergements-cards .card {
        width: 100%;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-carte {
        width: 100%;
        height: 90%;
    }

    .activites-carte a {
        width: 30%;
    }

    .activites-carte .carte {
        width: 100%;
        height: 90%;
    }

    .carte img {
        width: 100%;
        height: 70%;
    }

    .carte .activites-titre {
        margin: 10px;
    }

    footer {
        display: flex;
        width: 100%;
        margin-top: 70px;
    }

    .fin {
        width: 100%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    header {
        width: 100%;
        height: 100px;
    }
    
    nav {
        flex-direction: column;
        width: 100%;
        height: 100px;
    }

    .logo {
        width: 20%;
        height: 25px;
        margin-top: 20px;
    }

    header nav ul {
        width: 100%;
        height: 30px;
        margin-top: 20px;
        justify-content: space-around;
   }

   nav ul li {
    width: 100%;
    height: 40px;
    justify-content: space-around;
    }

    nav ul li:hover {
        border-top: none
    }

    nav ul li:hover {
        border-bottom: 2px solid #0065FC;
    }

    main {
        width: 100%;
        height: 70%;
        flex-direction: column;
        display: flex;
        margin-top: 0px;
    }

    section .groupe {
        width: 100%;
        height: 20%;
        margin: 10px 30px;
    }

   h1 {
        font-size: 24px;
        margin: 30px 20px 20px 20px;
   }

   p {
        font-size: 18px;
        margin: 0px 0px 30px 0px;
        padding-left: 20px;
   }

   form {
        width: 90%;
        height: 60px;
        margin-left: 20px;
   }

   form div {
        width: 15%;
        height: 60px;
   }

   form input {
    width: 68%;
    height: 57px;
    font-size: 20px;
    padding: 0;
    margin: 0;
    }

   .loupe {
        display: block;
    }

    .Rechercher {
        display: none;
    } 

    .barrerecherche {
        width: 15%;
        height: 60px;
        border-radius: 15px 15px 15px 15px;
    }

    .fa-magnifying-glass {
        color: white !important;
        margin-left: 3px;
    }

    .Filtres-barre {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 0px 0px 0px;
    }

    .Filtres-barre h3 {
        width: 50%;
        margin: 0px;
        padding-left: 20px;
    }

    .boutonfiltre {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 5px;
    }

    .bouton-commun {
        font-size: 18px;
        width: 45%;
        padding: 15px 0px;
        
    }

    .info-bar {
        width: 100%;
        padding-left: 15px;
    }

    .info-bar p {
        width: 100%;
        font-size: 17px;
        padding: 0;
        margin: 10px 0px 10px 0px;
    }

    .fa-info {
        width: 10%;
        height: 30px;
        border: none;

    }

    .fa-info::before {
        width: 100%;
        height: 30px;
        justify-content: center;
        align-items: center;
        border: 2px solid #F2F2F2;
        border-radius: 25px;
        margin: 0px 0px 0px 0px;
    }

    .hebergements {
        width: 100%;
        background: none !important;
        height: 60%;
        margin: 0;
   }

    .afficher-plus {
        padding-left: 20px;
   }

    .hebergements-and-populaires .populaires {
        width: 100%;
        height: 20%;
        background: #F2F2F2 !important;
   }

    .populaires-cards {
        flex-direction: column;
        margin: 10px 20px 0px 20px;
    }

   .fa-chart-line {
        margin-right: 20px;
   }

    .populaires-cards .card-content {
        width: 100%;
   }

   .populaires-cards img {
            width: 28%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin: 10px 0px;
    }

    .populaires-cards .card-title{
        font-size: 16px;
    }
    .populaires-cards .card-subtitle {
        margin-top: 10px;
    }

    div .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
        height: 60%;
    }

    .hebergements-and-populaires section {
        width: 100%;
        border-radius: 0;
        padding: 15px 0px;
    }

   .card-title {
        font-size: 16px;
        margin: 0;
   }

   .hebergements-cards a {
        width: 100%;
        margin: 0px 15px;
   }

   article .card {
        width: 100%;
   }

   .hebergements-cards .card {
        width: 100%;
   }

   .hebergements-cards img {
        width: 100%;
        height: 60%;
   }

   .card-content {
    margin-left: 10px;
   }

   p.card-subtitle {
    padding: 0px 0px 0px 0px;
   }
   
   .card-subtitle {
        font-size: 16px;
        padding-top: 10px;   }

   .activites {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0px;
   }

   .section-title {
        margin-left: 20px;
   }

   .activites-carte {
        width: 100%;
        flex-direction: column;
        height: 90%;
   }

   .activites-carte .carte {
        width: 100%;
        height: 25%;
   }

    .activites-carte a {
        width: 93%;
        height: 25%;
        margin: 0px 20px 0px 10px;
   }

   .activites-carte img {
        width: 100%;
        max-height: 150px;
   }

   .activites-titre {
        margin: 0;
   }

   footer {
        width: 100%;
        height: 500px;
        background-color: #F2F2F2;
   }

   .fin {
        flex-direction: column;
        width: 100%;
        margin: 0px 30px;
   }

   .A-propos {
        width: 100%;
        background-color: #F2F2F2;
        padding: 0px;   
    }

    .Nos-hebergements {
        width: 100%;
        background-color: #F2F2F2;
        padding: 0px;
    }

    .Assistance {
        width: 100%;
        background-color: #F2F2F2;
        padding: 0px;
    }
}


